@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Raleway';
  src: url('raleway/raleway-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('raleway/raleway-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('raleway/raleway-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('raleway/raleway-regular-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('raleway/raleway-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('raleway/raleway-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('raleway/raleway-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('raleway/raleway-bold-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: 800;
}

@font-face {
  font-family: 'Raleway';
  src: url('raleway/raleway-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('raleway/raleway-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('raleway/raleway-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('raleway/raleway-light-webfont.svg') format('svg'); /* Legacy iOS */
  font-weight: 300;
}

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body{
	background: #F7C600;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container {
	width: 95%;
	max-width: 900px;
	margin: 0 auto;
}

.section {
	width: 100%;
	transition: all 1s;
}

.section:first-of-type {
	height: 100%;
}

.section:last-of-type {
	padding-bottom: 50px;
}

#particles-js{
	position:absolute;
	width: 100%;
	height: 100%;
}

.centered {
	position: absolute;
	max-width: 90%;
	text-align: center;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -150px;
	transition: all 1s;
}

.social {
    margin-bottom: 75px;
	opacity: .85;    
    color: #333;
	font-size: 25px;
}

.social a {
	color: #333;
    margin: 0 10px;
}

.social a i.fa {
	transform: scale(1);
	transition: all .3s;
}

.social a:hover i.fa {
    transform: scale(1.15);
}

svg.logo {
	max-width: 100%;
}

.subtitle {
	margin-top: 75px;
	opacity: .85;
	color: #FFF;
	font-size: 25px;
}

.subtitle span {
	padding: 10px;
}

.subtitle #siteTitle {
	background: #ED5D58;
	font-weight: 300;
	padding-left: 25px;
}

.subtitle #siteSubtitle {
	font-weight: 800;
	padding-right: 0;
}

.subtitle .typed-cursor {
	font-size: 30px;
	padding: 0;
	padding-right: 25px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

h1 {
    background: #595959;
    color: #FFF;
    display: inline-block;
    padding: 10px;
    padding-left: 50px;
    margin-left: -25px;
}

/*.down-arrow {
	position: absolute;
	left: 50%;
	bottom: 50px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	display: block;
	height: 3rem;
	width: 3rem;
	background: #fff;
	border-radius: 50%;
	transition: all .2s ease;
	margin-left: -1.5rem;
	opacity: 0;
	animation:fadeIn 1s 10s ease forwards;
	-webkit-animation:fadeIn 1s 10s ease forwards; 
}

.down-arrow:after {
	content: '';
	display: inline-block;
	background: url(img/arrow-down.png)center no-repeat;
	height: 3rem;
	width: 3rem;
	background-size: 100%;
	opacity: .5;
}

.down-arrow:hover {
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
	-webkit-transform: scale(1.06);
	transform: scale(1.06);
}*/

.project {
    display: inline-block;
    width: 215px;
    height: 215px;
    color: #FFF;
    padding: 15px;
    padding-top: 33px;
    vertical-align: middle;
    margin: 5px 3px;
	opacity: .9;
	transform: scale(1);
	transition: all .3s;
}

.project:hover {
    opacity: 1;
    transform: scale(1.03);
}

.project .info {
    display: inline-block;
}

.project h2 {
    margin: 5px 0;
}

.project .description {
    text-transform: lowercase;
}

.project .type {
    font-size: smaller;
    display: block;
    text-transform: lowercase;
    margin-top: 15px;
}

.project .link {
	display: none;
}

.project a {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: .7; }
}

@-webkit-keyframes fadeIn { /* Safari and Chrome */ 
	from { opacity: 0; }
	to { opacity: .7; }
}

@media screen and (max-width: 725px) {
	.container {
		max-width: 450px;
	}	
}

@media screen and (max-width: 700px) {
    .centered {
		left: 5%;
		margin-left: 0;
		top: 45%;
		margin-top: -50px;
    }
	
	.social {
		margin-bottom: 20px;
	}
	
	.subtitle {
		margin-top: 20px;
		font-size: 20px;
	}
	
	.subtitle #siteTitle {
		padding: 0;
  		padding-right: 5px;
  		background: none;
  		color: #ED5D58;
	}
	
	.subtitle #siteSubtitle {
		padding: 0;
	}
	
	.subtitle .typed-cursor {
		padding: 0;
		font-size: 25px;
	}

	h1 {
		color: #595959;
		background: transparent;
		display: block;
		padding: 10px;
		margin: 0;
	}
}

@media screen and (max-width: 500px) {
	.project {
		width: auto;
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}	
}